<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/articles/articles.css">
    <script  src="/static/js/articles/articles.js"></script>
    <title>API Members</title>
  </head>
  <body>

    <%- include ('../include/nav.ejs'); -%>
    <%console.log(articles)%>
    <div id="container-articles">
      <% articles.forEach(article => { %>
        <div class="article col-lg-3 pt-3 pb-3" style="margin:auto;margin-left:15px;margin-top:10px;">
          <img src="/uploads/articles/<%=article.lien_miniature%>" class="card-img-top">
          <hr>
            <h5 class="card-title mt-3"><%=article.title%></h5>
            <div class="card-intro mt-3"><%=article.intro%></div>
              <a href="/articles/view/<%=article.id%>" class="btn btn-danger align-self-end mt-auto">Lire l'article</a>
        </div>
      <% }); %>

  </div>
    <div id="btns-page">
      <a href="#" class="btn btn-info" id="precedent">< Précédent</a>
      <a href="#" class="btn btn-info" id="suivant">Suivant ></a>
    </div>

    <%- include('../include/footer.ejs') %>
    <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>

  </body>
</html>