<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/articles/post.css">
    <title>API Members</title>
  </head>
  <body>
    <%- include ('../include/nav.ejs'); -%>

    <div class="container-fluid">
        <div style="margin-left:25%;max-width: 50%;text-align:center;">
            <div style="max-width: 100%;overflow:scroll"><%- article.content %></div>
      
          </div>

  </div>




  

    <%- include('../include/footer.ejs') %>
    <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>

  </body>
</html>