<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%- include ('../../include/bootstrap/bootstrap.css.ejs'); -%>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/admin/update/album.css">

    <title>API Members</title>

</head>

<body>
  <%- include ('../../include/nav.ejs'); -%>
    <main role="main">

      <h1 class="mb-5 text-center">Album</h1>
      <%if(album.length){ %>
        <div id="container">
          <fieldset class="form-group" id="form-container">
            <legend>Image</legend>
            <img src="/uploads/album/<%=album[0].album_image%>" alt="Image" id="image">
            <form action="/admin/albums/update/<%=album[0].album_id%>" method="POST" id="form-update">
              <label for="statut">Statut de l'image :</label>
              <select id="statut" name="statut">
                <option value="0" <%if(album[0].album_statut===0){%> selected <%}%>>En attente</option>
                <option value="1" <%if(album[0].album_statut===1){%> selected <%}%>>Validé</option>
              </select>
              <br>
              <label for="title">Titre de l'image</label>
              <input type="text" name="title" value="<%=album[0].album_title%>">
              <br>
              <button type="submit" class="button button-primary" id="button-send">Envoyer</button>
            </form>
          </fieldset>
          <fieldset class="form-group" id="form-container">
            <legend>Supprimer</legend>
            <form action="/admin/albums/delete/<%=album[0].album_id%>" method="POST" id="form-update">
              <input type="hidden" value="<%=album[0].album_image%>" name="file">
              <button type="submit" class="button button-danger" id="button-send">Supprimer cette image</button>
            </form>
          </fieldset>
        </div>
        <%}else{%>
          <h2 class="text-center">404 not found</h2>
          <% } %>
    </main>
    <%- include('../../include/footer.ejs') %>
      <%- include ('../../include/bootstrap/bootstrap.js.ejs'); -%>

</body>

</html>