<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <%- include ('../../include/bootstrap/bootstrap.css.ejs'); -%>
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/admin/adminupdatepage.css">
    <title>API Members</title>
  </head>
  <body>

    <%- include ('../../include/nav.ejs'); -%>
    <h1 class="mb-5 text-center">Modification d'un membre</h1>

    <form id ="form1" action='/admin/update/member/<%= member.member_userID %>' method="post">
        <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input type="text" class="form-control" id="pseudo" name="pseudo" value="<%= member.member_pseudo %>" >

            <label for="pseudo">Nom</label>
            <input type="text" class="form-control" id="lastName" name="lastName" value="<%= member.member_last_name %>" >
            <label for="pseudo">Prénom</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value="<%= member.member_first_name %>" >
            <label for="pseudo">Age</label>
            <input type="text" class="form-control" id="age" name="age" value="<%= member.member_age %>" >
            <label for="pseudo">Adresse mail</label>
            <input type="text" class="form-control" id="email" name="email" value="<%= member.member_email %>" >
            <label for="pseudo">Téléphone</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= member.member_phone_number  %>" >
        </div>

  <button type="submit" class="btn btn-primary">Modifier</button>
</form>
<div id="overlay1">
  <div class="popup_block">
      <a class="close" href="#noWhere"><img alt="Fermer" title="Fermer la fenêtre" class="btn_close" src="/static/images/close_pop.png"></a>
      <h2>Changez votre mot de passe</h2>
      <form action="/admin/update/member/password/<%= member.userID %>" method="post" class="mt-5">
        <div class="form-group">
          <div id="conteneur-field-start">
            <label for="password1">Nouveau mot de passe :</label>
            <input type="text" class="form-field" id="password1" name="password1" >
          </div>
          <div id="conteneur-field-start">
            <label for="password2">Confirmez le mot de passe :</label>
            <input type="text" class="form-field" id="password2" name="password2" >
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
      </form>
  </div>
</div>
<div id="overlay2">
  <div class="popup_block">
      <a class="close" href="#noWhere"><img alt="Fermer" title="Fermer la fenêtre" class="btn_close" src="/static/images/close_pop.png"></a>
      <h2>Supprimer ce compte</h2>
      <form action="/admin/delete/member/<%= member.userID %>" method="post" class="mt-5" >
        <input type="hidden" name="id" value="{{member.id}}">
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
  </div>
</div>
<div id="conteneur-field-start">
  <label for="change-password">Mot de passe :</label>
  <p><a href="#overlay1" id="change-password" class="btn btn-warning">Changer le password</a></p>
</div>
<div id="conteneur-field-start">
  <label for="change-password">Etat du compte :</label>
  <p><a href="#overlay2" class="btn btn-danger">Supprimer le compte</a></p>
</div>


  <%- include ('../../include/footer.ejs'); -%>
  <%- include ('../../include/bootstrap/bootstrap.js.ejs'); -%>
    
  </body>
</html>