<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<script type="text/javascript" src="/static/js/admin.js"></script>-->
  <!-- Bootstrap CSS -->
  <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/admin/forum.modos.css">
    <title>FGF Album</title>
</head>

<body>
  <%- include ('../include/nav.ejs'); -%>
    <main role="main">


      <%console.log(modos)%>
        <section id="announcements">
          <table class="table table-striped" id="table-announcements">
            <thead>
              <tr>
                <th scope="col">Membre</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Date modo</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>

              <% modos.forEach(element=> { %>
                <% const account_date=new Date(parseInt(element.modo_date_insert)) %>
                  <% var months=['01','02','03','04','05','06','07','08','09','10','11','12']; %>
                    <% const year=account_date.getFullYear() %>
                      <% const month=months[account_date.getMonth()] %>
                        <% const date=account_date.getDate() %>
                          <tr>
                            <td>
                              <%= element.member_pseudo%>
                            </td>
                            <td>
                              <%= element.cat_nom %>
                            </td>
                            <td>
                              <%= `${date}/${month}/${year}` %>
                            </td>
                            <td> <a
                                href="/admin/forum/modos/delete/<%=element.modo_user_id%>/<%=element.modo_categorie%>"
                                class="button button-danger">Supprimer</a> </td>
                          </tr>
                          <% }) %>
            </tbody>
          </table>
        </section>
        <section id="form">
          <fieldset class="form-group">
            <legend>Nouveau modo</legend>
            <form action="/admin/forum/modos" method="POST">
              <div class="form-group d-flex flex-column">
                <label style="font-size:20px;" for="pseudo">Pseudo du modérateur</label>
                <input type="text" class="pseudo form-control" name="pseudo" id="pseudo">
                <label style="font-size:20px;" for="categorie">Catégorie</label>
                <input type="text" class="categorie form-control" name="categorie" id="categorie">
                <button type="submit" class="button button-success">Ajouter</button>
              </div>
            </form>
          </fieldset>
        </section>
    </main>
    <%- include ('../include/footer.ejs'); -%>
      <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>

</body>

</html>

<style>
  #form {
    width: 70%;
    margin-left: 15%;
  }
</style>