<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <%- include ('include/bootstrap/bootstrap.css.ejs'); -%>
    <!-- CSS FILES -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/404.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <%- include ('include/meta'); -%>
      <title>French Gaming Family</title>
</head>

<body>
  <%- include ('include/nav.ejs'); -%>

    <main role="main">

      <div id="contenu">
        <h1 class="title1">Oups !</h1>
        <p class="text">J'ai cherché dans tous les recoins mais... <br> La page que vous cherchez semble introuvable...
        </p>
      </div>

    </main>
    <%- include ('include/footer.ejs'); -%>
      <%- include ('include/bootstrap/bootstrap.js.ejs'); -%>
</body>

</html>