<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<script type="text/javascript" src="/static/js/error.js"></script>-->

    <!-- Bootstrap CSS -->
    <%- include ('include/bootstrap/bootstrap.css.ejs'); -%>
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">

    <title>API Members</title>
  </head>
  <body>
    <%- include ('include/nav.ejs'); -%>
    <h1 class="mb-5 text-center">API de membres erreur</h1>
    
    

    <h3 class="mb-5 text-center" id="error-message"><%= error %></h3>

    <div id="text-center">
      <a href=javascript:history.go(-1)>Retour à la page précédente</a>
    </div>

    <%- include ('include/footer.ejs'); -%>
    <%- include ('include/bootstrap/bootstrap.js.ejs'); -%>

  </body>
</html>