<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <%- include ('include/bootstrap/bootstrap.css.ejs'); -%>
    <!-- CSS FILES -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <%- include ('include/meta'); -%>
      <title>French Gaming Family</title>
</head>

<body>

  <%- include ('include/nav.ejs'); -%>

    <main role="main">
      <div id="container-description">
        <li style="font-weight:bold;font-size:28px">Qui sommes-nous ?</li>
        <p>Nous sommes une communauté multi-gaming francophone de joueurs et créateurs de contenu, réunis sur un même
          serveur Discord.</p>

        <li style="font-weight:bold;font-size:28px">Notre but ?</li>
        <p>Créer des liens avec d'autres personnes sur n'importe quel jeu, pouvoir les retrouver plus tard quelque soit
          le
          jeu, appartenir à une équipe soudée partageant les mêmes centres d'intérêts et les mêmes passions, soutenir
          nos
          créateurs de contenu en mettant en avant leur travail et encourager l'entraide au sein de la communauté.
          Mais aussi se retrouver lors de conventions FR, organiser des événements IG et IRL...etc etc. Voici les idées
          de
          base qui ont poussées la création de la French Gaming Family.
        </p>
        <li style="font-weight:bold;font-size:28px">Comment ça marche ?</li>
        <p>
          Pour nous rejoindre, il suffit de cliquer sur le lien de notre serveur Discord (Si vous n'avez pas de compte
          Discord il faudra en créer un. C'est complètement gratuit et cela prend une minute.
          Une fois sur notre serveur il suffira que vous choisissiez votre (ou vos) plateforme(s) ainsi que vos jeux et
          centres d'intérêts. Cela fera apparaître pour vous les salons adéquats et vous pourrez commencer à communiquer
          et jouer avec nous (L'application est disponible sur smartphone et pc);)
        </p>
      </div>


    </main>
    <%- include ('include/footer.ejs'); -%>
      <%- include ('include/bootstrap/bootstrap.js.ejs'); -%>
</body>

</html>