<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/album/album.css">
    <script  src="/static/js/album/album.js"></script>
    <title>API Members</title>
  </head>
  <body>

    <%- include ('../include/nav.ejs'); -%>
    <div id="container">
    <%if(images.length){%>
      <% images.forEach(element => { %>
        <div class="element">
          <div class="hvrbox">
            <img width="480px" height="268" src="/uploads/album/<%=element.album_image%>" class="hvrbox-layer_bottom image">
                <div class="hvrbox-layer_top hvrbox-layer_slideup">
                <div class="hvrbox-text"><%=element.member_pseudo%></div>
            </div>
          </div>
          <p class="title"><%=element.album_title%></p>
        </div>
      <%});%>
    <%}else{%>
      <h2>Aucune image sur cette page</h2>
    <%}%>
    </div>
    <div id="buttons-page">
      <a href="#" class="button button-info" id="precedent">< Précédent</a>
      <a href="#" class="button button-info" id="suivant">Suivant ></a>
    </div>



    <%- include('../include/footer.ejs') %>
    <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>

  </body>
</html>