<% if(arrayBadges && arrayBadges.length){%>
  <% arrayBadges.forEach(badge=> { %>
    <% if(badge==='Admin' ){ %> <span class="badge bg-danger">
        <%=badge%>
      </span>
      <%}%>
        <% if(badge==='Testeur' ){ %> <span class="badge bg-dark">
            <%=badge%>
          </span>
          <%}%>
            <% if(badge==='Partenaire' ){ %> <span class="badge bg-success">
                <%=badge%>
              </span>
              <%}%>
                <% if(badge==='Rédacteur' ){ %> <span class="badge bg-info">
                    <%=badge%>
                  </span>
                  <%}%>
                    <% if(badge==='Modo' ){ %> <span class="badge bg-warning">
                        <%=badge%>
                      </span>
                      <%}%>

                        <% }); %>
                          <%}%>