<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/member/articles.css">
    <title>API Members</title>
  </head>
  <body>
    <%- include ('../include/nav.ejs'); -%>
    <h1 class="mb-5 text-center">Vos articles :</h1>

    <div id="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Miniature</th>
          <th scope="col">Titre</th>
          <th scope="col">Date d'écriture</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
  
        <%  articles.forEach(article => { %>
        <%  const date_insert = new Date(parseInt(article.date_insert)) %>
        <%  var months = ['1','2','3','4','5','6','7','8','9','10','11','12'];  %>
        <%  const year = date_insert.getFullYear() %>
        <%  const month = months[date_insert.getMonth()] %>
        <%  const date = date_insert.getDate() %>
              <tr>
              <td> <img src="/uploads/articles/<%=article.lien_miniature%>" width="100px"height="50px"></td>
              <td> <%= article.title  %> </td>
              <td> <%= `${date}/${month}/${year}`  %> </td>
              <% if(article.status === 0){ %>
              <td> <div class="badge badge-secondary">  En attente </div> </td>
             <% } else { %>
                <td> <div class="badge badge-success"> Validé </div> </td>
             <% } %>
              <td> <a class="btn btn-primary mt-3"href="/member/articles/update/<%=article.id%>">Modiffier </a></td>
              </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
    <a class="btn btn-outline-success btn-block" href="/member/articles/post" id="btn-new">Écrire un nouvel article</a>


  

    <%- include('../include/footer.ejs') %>
    <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>

  </body>
</html>