<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/member/articles.css">
    <title>API Members</title>
  </head>
  <body>
    <%- include ('../include/nav.ejs'); -%>
    <h1 class="mb-5 text-center">Vos articles :</h1>


    <div id="table-members">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Miniature</th>
          <th scope="col">Titre</th>
          <th scope="col">Date d'écriture</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
  
        <%  articles.forEach(article => { %>
        <%  const date_insert = new Date(parseInt(article.date_insert)) %>
        <%  var months = ['1','2','3','4','5','6','7','8','9','10','11','12'];  %>
        <%  const year = date_insert.getFullYear() %>
        <%  const month = months[date_insert.getMonth()] %>
        <%  const date = date_insert.getDate() %>
              <tr>
              <td> <img src="/uploads/articles/<%=article.lien_miniature%>" width="100px"height="50px"></td>
              <td> <%= article.title  %> </td>
              <td> <%= `${date}/${month}/${year}`  %> </td>
              <% if(article.status === 0){ %>
              <td>  En attente  </td>
             <% } else { %>
                <td>  Validé  </td>

             <% } %>
              <td> <a class="btn btn-primary mt-3"href="/member/articles/update/<%=article.id%>">Modiffier </a></td>
              </tr>
        <% }) %>
      </tbody>
    </table>
    </div>

  

<%- include('../include/footer.ejs') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>