<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<script type="text/javascript" src="/static/js/admin.js"></script>-->
    <!-- Bootstrap CSS -->
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/forum/categories.css">
    <title>FGF Forum</title>
  </head>
  <body>
    <%- include ('../include/nav.ejs'); -%>


    <h1>Bienvenue sur le Forum de la FGF Categories :</h1>

    <%console.log(categories)%>
    <table id="table-forums">
      <th>Forums</th>
      <% categories.forEach(element => { %>
              <td><a href="/forum/categorie/<%=element.cat_id%>/1"><%=element.cat_nom%></a></td>
      <%}); %>
    </table>

    <%- include ('../include/footer.ejs'); -%>
    <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>
  </body>
</html>