<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<script type="text/javascript" src="/static/js/admin.js"></script>-->
    <!-- Bootstrap CSS -->
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/forum/main.css">
    <title>FGF Forum</title>
  </head>
  <body>
    <%- include ('../include/nav.ejs'); -%>
    <%console.log(userConnected)%>

    <div class="container">
        <div id="container-messages">
        <% topic.forEach(element => {%>
            <div class="author-infos">
              <p><%=element.member_pseudo%>&ensp;
              <% if(element.member_id === userConnected.id){ %>
                <div><a href="/forum/message/delete/<%=element.post_id%>" class="btn btn-danger" id="btn-delete">Supprimer</a></div>
                <div class="edit" id="edit-<%=element.post_id%>"><a  onclick="viewEdit(<%=element.post_id%>, `<%=element.post_texte%>`)" class="btn btn-primary" id="btn-delete">Modiffier</a></div>
              <% } %></p>
            </div>
            <p class="message"><%=element.post_texte%></p>
            <hr>
        <% }); %>
        </div>
        <div class="jumbotron">
            <div class = "form-message">
                <form action="/forum/message/<%=topic[0].topic_id%>" method="post">
                    <textarea id = "content" class="form-control" placeholder="Votre réponce"cols="30" rows="5" name="content"></textarea>
                    <button type="submit" class="btn btn-success" id="send">Poster</button>
                
                </form>
            </div>
        </div>
    </div>
    

    <%- include ('../include/footer.ejs'); -%>
    <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>
  </body>
</html>
<script>
  function viewEdit(id, texte){
    document.getElementById(`edit-${id}`).innerHTML = `<form action="/forum/message/update/${id}" method="POST">
                                                          <textarea id = "content" class="form-control" placeholder="Votre réponce"cols="30" rows="5" name="contentEdit">${texte}</textarea>
                                                          <button type="submit" class="btn btn-success" id="send">Poster</button>
                                                          </form>`
  }
</script>
<style>
.container{

display : flex;
justify-content: center;
flex-direction: column;
flex-wrap : wrap; /* Responsive */
align-items: center;
}

.jumbotron{
background-color: #e9ecef;
width : 50%;
}

.title-form{
text-align : center;
}
.form-message{
margin-left: auto;
margin-right: auto;
width : 25em;
}
#container-messages{
    margin-top: 25px;
    background-color: #ffffff;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}
#author-infos{
  display: flex;
  flex-direction: column;
}
#btn-delete{
  width: 18%;
}
</style>