<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/forum/topic.css">
    <title>FGF Forum</title>
  </head>
  <body>
    <%- include ('../include/nav.ejs'); -%>

    <div id="container">
      <div id="container-topic">
        <% if(topic.topic.length){ %>
        <% const modo = topic.modos.find(modo => modo.modo_user_id === userConnected.id)%>
        <% topic.topic.forEach(element => { %>
        <%  const post_date = new Date(parseInt(element.post_time)) %>
        <%  const months = ['01','02','03','04','05','06','07','08','09','10','11','12'];  %>
        <%  const year = post_date.getFullYear() %>
        <%  const month = months[post_date.getMonth()] %>
        <%  const date = post_date.getDate() %>
          <div id="element">
            <div class="container-message" id="<%=element.post_id%>">
              <p class="header-author"><img class="author-avatar" src="/uploads/avatars/<%=element.member_avatar%>" alt="Avatar">
              <%=element.member_pseudo%> 
                <% if(element.member_id === userConnected.id || modo){ %>
                <a href="/forum/message/delete/<%=element.post_id%>/<%=element.topic_categorie%>"><img class="btn-control right" src ="/static/images/btn_delete.svg"></a>
                <%} if(element.member_id === userConnected.id){ %>
                <a onclick="viewEdit(<%=element.post_id%>, `<%=element.post_texte%>`)" href="#"><img class="btn-control right" src ="/static/images/btn_edit.svg"></a>
                <% } %>
                <a onclick="report(<%=element.topic_id%>, <%=element.post_id%>)" href="#"><img class="btn-control right" src ="/static/images/btn_report.svg"></a>
                </p>
                <p><a href="#<%=element.post_id%>" class="link-msg"><%= `${date}/${month}/${year}`%></a></p>
                <div id='<%=element.post_id%>'></div>
                <div id="edit-<%=element.post_id%>"></div>
                <hr>
                <p><%= element.post_texte %></p>
            </div>          
          </div>
        <% }); %>
          <div id="container-reply">
            <div id="container-form-reply">
                <form action="/forum/message/<%=topic.topic[0].topic_id%>" method="post">
                  <fieldset class="form-group">
                    <legend class="reply-legent">Poster un message</legend>
                    <textarea id = "content" class="form-control" placeholder="Votre réponce"cols="30" rows="5" name="content"></textarea>
                    <button type="submit" class="btn btn-success" id="send">Poster</button>
                  </fieldset>
                </form>
            </div>
        </div>
        <% }else{ %>
            <h4 id="text-center">Ce forum ne contient pas/plus de message et n'est donc pas accessible.</h4>
        <% } %>
      </div>
    </div>
    <div id="btn-pages">
      <a href="#" class="btn btn-info" id="precedent">< Précédent</a>
      <a href="#" class="btn btn-info" id="suivant">Suivant ></a>
    </div>



<%- include ('../include/footer.ejs'); -%>
<%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>
<script src="/static/js/forum/topic.js"></script>
</body>
</html>

