<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<script type="text/javascript" src="/static/js/admin.js"></script>-->
    <!-- Bootstrap CSS -->
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/css/forum/topic.css">
    <title>FGF Forum</title>
  </head>
  <body>
    <%- include ('../include/nav.ejs'); -%>
    <% if(topic[0]){ %>
    <div id="container">
      <div id="container-topic">
        <% topic.forEach(element => { %>
          <div id="element">
            <div>
              <img class="author-avatar" src="/uploads/avatars/<%=element.member_avatar%>" alt="Avatar">

              <%  const post_date = new Date(parseInt(element.post_time)) %>
              <%  var months = ['01','02','03','04','05','06','07','08','09','10','11','12'];  %>
              <%  const year = post_date.getFullYear() %>
              <%  const month = months[post_date.getMonth()] %>
              <%  const date = post_date.getDate() %>
              <%=element.member_pseudo%> 
              <% if(element.member_id === userConnected.id || userConnected.userPermissions >= 2){ %>
                <a href="/forum/message/delete/<%=element.post_id%>"><img class="btn-control right" src ="/static/images/btn_delete.svg"></a>
                <%} if(element.member_id === userConnected.id || userConnected.userPermissions >= 2){ %>
                <a onclick="viewEdit(<%=element.post_id%>, `<%=element.post_texte%>`)" href="#"><img class="btn-control right" src ="/static/images/btn_edit.svg"></a>
                <% } %>
                <a onclick="report(<%=element.topic_id%>, <%=element.post_id%>)" href="#"><img class="btn-control right" src ="/static/images/btn_report.svg"></a>
                <br><%= `${date}/${month}/${year}`  %>
                <div id='<%=element.post_id%>'></div>
                <div id="edit-<%=element.post_id%>"></div>
                <hr>
                <p><%= element.post_texte %></p>
            </div>          
          </div>
        <% }); %>
        <div id="container-reply">
          <div id="form-message">
              <form action="/forum/message/<%=topic[0].topic_id%>" method="post">
                <fieldset class="form-group">
                  <legend>Poster un message</legend>
                  <textarea id = "content" class="form-control" placeholder="Votre réponce"cols="30" rows="5" name="content"></textarea>
                  <button type="submit" class="btn btn-success" id="send">Poster</button>
                </fieldset>
              </form>
          </div>
      </div>
      </div>

    </div>
    <% } %>
        

    <div id="btn-pages">
      <a href="#" class="btn btn-info" id="precedent">< Précédent</a>
      <a href="#" class="btn btn-info" id="suivant">Suivant ></a>
    </div>



<%- include ('../include/footer.ejs'); -%>
<%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>
</body>
</html>
<script>
let page = window.location.href.split('/').reverse()[0]
let topic = window.location.href.split('/').reverse()[1]
const pageSuivante = parseInt(page) + 1
const pagePrecedente = parseInt(page) - 1
document.getElementById("suivant").setAttribute("href", `/forum/topic/${topic}/${pageSuivante}`)
document.getElementById("precedent").setAttribute("href", `/forum/topic/${topic}/${pagePrecedente}`)
function viewEdit(id, texte){
document.getElementById(`edit-${id}`).innerHTML = `<form action="/forum/message/update/${id}" method="POST">
                                                      <textarea id = "content" class="form-control" placeholder="Votre réponce"cols="30" rows="5" name="contentEdit">${texte}</textarea>
                                                      <button type="submit" class="btn btn-success" id="send">Poster</button>
                                                      </form>`
}
function report(topicId, id) {
fetch(`/forum/report/topic/${topicId}/${page}`)
document.getElementById(id).innerHTML = '<div class="alert alert-success report-message" role="alert"> Le message à été reporté ! </div>'
}
</script>
